{% load static %}

<nav class="navbar navbar-extend-lg navbar-light bg-white">
    <div class="container-fluid">
        <div style="display: flex; flex-direction: row;">
            <button class="navbar-toggler border border-white border-2 rounded-4" style="box-shadow: none;"
                    type="button" data-bs-toggle="collapse" data-bs-target="#listContent" aria-controls="listContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span> &nbsp;</span>
            <a class="nav-link" href="#">
                <div class="border border-dark border-2 rounded-circle" style="font-size: 17px; margin-top: 7px; padding-left: 5px; padding-right: 5px;">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </a>
        </div>

        <a class="navbar-brand" href="#" style="font-size: 25px; color: black; text-decoration: none;">
            <strong>FAFQ</strong>
        </a>

        <div style="display: flex; flex-direction: row;">
            <a class="nav-link" href="#">
                <div class="border border-dark border-2 rounded-circle" style="font-size: 10px; margin-top: 7px; padding: 7px;">
                    <i class="fa-solid fa-m"></i><i class="fa-solid fa-y"></i>
                </div>
            </a>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <a class="nav-link" href="#" style="font-size: 28px;">
                <i class="fa-regular fa-bell"></i>
            </a>
            <span>&nbsp;</span>
        </div>
    </div>
</nav>

<div class="collapse" id="listContent">
    <div class="p-5" style="font-size: 15px; background-color: #80E12A;">
        <div class="m-2">
            <div class="m-1">
                <b>CATEGORY</b>
            </div>
            <div class="m-1">
                <a href="#" style="color: black; text-decoration: none; font-size: 13px;">
                    <div class="ps-5">Recipe</div>
                </a>
            </div>
            <div class="m-1">
                <a href="#" style="color: black; text-decoration: none; font-size: 13px;">
                    <div class="ps-5">Q&A</div>
                </a>
            </div>
        </div>

        <div class="m-3">
        </div>

        <div class="m-2">
            <a href="#" style="color: black; text-decoration: none;">
                <b>INFORM</b>
            </a>
        </div>

        <div class="m-5">
        </div>

        <div class="m-2">
            <a href="#" style="color: black; text-decoration: none;">
                <b>Login</b>
            </a>
        </div>
    </div>
</div>
