{% load static %}

<div class="ms-5 me-5 mt-3 " style="text-align: center">
    <div class="d-flex justify-content-around">
        <a href="{% url 'recipe_list' %}" class="top_a top_hover">
            <div class="rounded-3" id="choice">
                <h3>
                    Recipe
                </h3>
            </div>
        </a>
        <a href="{% url 'question_list' %}" class="top_a top_hover">
            <div class="rounded-3" id="choice">
                <h3>
                    Q&A
                </h3>
            </div>
        </a>
        <a href="{% url 'info' %}" class="top_a top_hover">
            <div class="rounded-3" id="choice">
                <h3>
                    INFORM
                </h3>
            </div>
        </a>
    </div>
    <hr />
</div>